extends layout

block content
  h1 Hosts

  if err
    div.alert.alert-danger= err

  if msg
    div.alert.alert-success= msg

  .row
    .col-8
      h2 Current songs
      div
        each h in hosts
          form.p-2(action="/songs/delete" method="POST")
            input.flex-shrink-1.m-1(style="min-width:20px" type="hidden" name="$hostis" value=Hosts.hostid)

            label.form-group Name:
              input.form-control.m-1(style="min-width:20px" type="text" name="$Name" value=Hosts.name)
            label.form-group Email:
              input.form-control.m-1(style="min-width:20px" type="text" name="$Email" value=Hosts.email)
            //- label.form-group Rating:
            //-   input.form-control.m-1(style="min-width:20px" type="number" name="$Milliseconds" value=s.Milliseconds)
            .form-group
              button.m-1.btn.btn-danger(type="submit" formaction="/hosts/delete") X
              button.m-1.btn.btn-secondary(type="submit" formaction="/hosts/update") Update
            hr

      nav(aria-label="Page navigation example")
        ul(class="pagination")
          li(class="page-item")
            a(class="page-link" href="/hosts?page=1") 1

          li(class="page-item")
            a(class="page-link" href="/hosts?page=2") 2
          li(class="page-item")
            a(class="page-link" href="/hosts?page=3") 3

    .col-4
      h2 Create new hosts

      form(action="/hosts/create", method="post")
        .form-group
          label Name
            input.form-control(type="text", name="$Name")

        //- .form-group
        //-   label Rating
        //-     input.form-control(type="number", name="$Rating", value = 1000)

        button.btn.btn-primary(type="submit") Create New Hosts





















//- then end